/* Browser reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Main containers */

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&display=swap');

@font-face {
    font-family: NasaFont;
    src: url(../TOP/Sign-Up-Form/font/nasalization/nasalization-rg.otf) format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');

div.container {
    display: flex;
}

/* Left section */

div.left {
    position: relative;
    width: 40%;
    height: 100vh;
    background-image: url(../Sign-Up-Form/images/marcians.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

div.cover{
    height: 100%;
    width: 100%;
    display: block;
    z-index: 999;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

h1 {
    font-family: 'NasaFont', sans-serif;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.logo {
    object-fit:scale-down;
    height: 100%;
}

/* Right section */

div.right {
    width: 60%;
    height: 100vh;
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

/* Top section */

div.top {
    height: 35%;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

div.bar {
  position: absolute;
  width: 100%;
  height: 10px;
  top: 0;
  right: 0;
  background-image: linear-gradient(#0B3D91,#1D52C1);
}

div.date-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'PT Sans', sans-serif;
  padding: 12px;
  height: 15%;
  margin-top: 15px;
  width: auto;
  color: white;
  box-shadow: 0.3em 0.3em 0.7em #00000015;
  transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: rgb(250, 250, 250) 0.2em solid;
  border-radius: 15px;
  background-image: url(../Sign-Up-Form/images/space.jpg);
}

div.date-counter:hover{
  border: #0B3D91 0.2em solid;
}

div.text {
margin-top: 55px;
padding: 25px;
text-align: center;
}

span.top-text {
  font-family: 'NasaFont', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}


/* Middle form */

div.middle {
    height: 50%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.personal-data, .contact, .password {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

h3 {
  font-size: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
}

div.name, .last-name, .date, .email, .phone, .pass, .second-pass, .gender {
    padding: 10px;
}


input, select {
    width: 150px;
    height: 44px;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 1px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
  }

  
  label {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
  }
  
/* Bottom section */

div.bottom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  height: 15%;
  background: #f6f6f6;
  box-shadow: 15px 15px 30px #eeeeee,
              -15px -15px 30px #ffffff;
}

button {
    display: flex;
    align-items: center;
    font-family: 'NasaFont', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    padding: 0.8em 1.8em 0.8em 1.8em;
    color: white;
    background: #0B3D91;
    border: none;
    letter-spacing: 0.05em;
    border-radius: 8px;
    cursor: pointer;
  }
  
  button svg {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  button span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  button:hover svg {
    transform: translateX(5px) rotate(90deg);
  }
  
  button:hover span {
    transform: translateX(7px);
  }

  p#log {
    text-align: center;
    font-family: inherit;
    font-weight: 800;
    margin-top: 8px;
    color: #0B3D91;
  }

/* Footer */

img.gh-pic {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 20px;
  max-height: 20px;
  margin: 8px;
}
